body{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
   
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 2%;

}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: aliceblue;
   background: linear-gradient(
    45deg
    , lightsalmon, tomato);
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;

    box-shadow: 10px 10px 40px gray;
    
    
}
#border-orange{
    border-left: 7px solid;
    border-image: linear-gradient(
180deg
, lightsalmon, tomato);
border-image-slice: 1;
}

#border-color{
    border-left: 7px solid;
    border-image: linear-gradient(
180deg
, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align:center ;
}